<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="author" content="Thiago Somense" />
    <title>@ViewData["Title"] - SaffiraCloud</title>

    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="~/fonts/fontawesome/releases/v5.0.6/css/all.css" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="wrapper ">

        <partial name="_Sidebar" />

        <div class="main-panel">

            <partial name="_Navbar" />
            @RenderSection("Panels", required: false)

            <partial name="_CookieConsentPartial" />

            <div class="content">
                @RenderBody()
                <partial name="_Footer" />
            </div>

        </div>
    </div>

    <!-- Core JS Files -->
    <script src="~/js/core/jquery.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <script src="~/js/script.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
