@model IEnumerable<SaffiraCloud.ApplicationCore.Entities.Pais>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewData["Title"]</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <div class="dropdown">
                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple no-caret" data-toggle="dropdown">
                            <i class="now-ui-icons loader_gear"></i>
                            Ações
                        </button>
                        <div class="dropdown-menu dropdown-menu-left">
                            <a asp-action="Create" class="dropdown-item">Adicionar</a>
                            <a asp-action="Create" class="dropdown-item">Importar</a>
                            <a asp-action="Create" class="dropdown-item">Exportar</a>
                            <a asp-action="Create" class="dropdown-item">Imprimir</a>
                            <div class="dropdown-divider"></div>
                            <a asp-action="Create" class="dropdown-item text-danger">Excluir</a>
                        </div>
                    </div>
                </div>
                <table id="gridPais" class="table" cellspacing="0" width="100%">
                    <thead class="text-primary">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Nome)</th>
                            <th>@Html.DisplayNameFor(model => model.CodigoIBGE)</th>
                            <th>@Html.DisplayNameFor(model => model.CodigoISO)</th>
                            <th>@Html.DisplayNameFor(model => model.DtCadastro)</th>
                            <th>@Html.DisplayNameFor(model => model.DtAtualizado)</th>
                            <th class="disabled-sorting">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoIBGE)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoISO)</td>
                                <td>@Html.DisplayFor(modelItem => item.DtCadastro)</td>
                                <td>@Html.DisplayFor(modelItem => item.DtAtualizado)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-round btn-info btn-icon btn-sm"><i class="fas fa-pencil-alt"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-round btn-success btn-icon btn-sm"><i class="fas fa-table"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-round btn-danger btn-icon btn-sm"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="~/js/plugins/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(configurarControles());

        function configurarControles() {
            $("#gridPais").DataTable({
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
                responsive: true,
                pagingType: "full_numbers",
                autoWidth: true,
                language: {
                    processing: "Processando...",
                    search: "_INPUT_",
                    searchPlaceholder: "Pesquisar...",
                    lengthMenu: "_MENU_ resultados por página",
                    info: "Exibindo _START_ até _END_ de _TOTAL_ registros",
                    infoEmpty: "Exibindo 0 até 0 de 0 registros",
                    infoFiltered: "(Filtrados de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Carregando...",
                    zeroRecords: "Nenhum registro encontrado",
                    emptyTable: "Nenhum registro encontrado",
                    paginate: {
                        first: "&laquo;",
                        previous: "<",
                        next: ">",
                        last: "&raquo;"
                    },
                    aria: {
                        sortAscending: ": Ordenar colunas de forma ascendente",
                        sortDescending: ": Ordenar colunas de forma descendente"
                    }
                }
            });
        }
    </script>
}
